{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Language" content="{{.lang}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>{{block "title" .}} {{end}}</title>
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<script src="/static/js/jquery-3.1.0.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/react.js"></script>
    <script src="/static/js/react-dom.js"></script>
	<script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
</head>
<body>
    <body>
        {{template "content" .}}
    </body>
    <footer>{{block "footer" .}} {{end}}</footer>
</body>
</html>

{{ end }}