{{define "title"}}Dashboard{{end}}
{{define "content"}}
{{template "navbar" .}}
	<div class="container">

<div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Issues</h3>
      </div>
      <div id="issuesTable" class="panel-body">
        

          <!-- Table -->
<script type="text/babel">
var MainTable = React.createClass({
  getInitialState: function() {
    return {
      number: "1",
      createdAt: "24/09/2016",
      title: "Nazvanie",
      owner: "Mark",
      executor: "i am"
    }
  },

  render: function() {
    return (
      <div>
        <table className='table table-sm'>
          <thead>
            <tr>
              <th>#</th>
              <th>Created At</th>
              <th>Title</th>
              <th>Owner</th>
              <th>Executor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{this.state.createdAt}</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
        <Paginator>
        </Paginator>
      </div>
    );
  }

});

var Paginator = React.createClass({
  render: function() {
    return (
      <div className='text-right'>
        <nav aria-label='Page navigation'>
          <ul className='pagination'>
            <li className='disabled'>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li className='active'><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    );
  }
});

ReactDOM.render(<MainTable />, document.getElementById('issuesTable'));
    </script>


<!--Paginator-->

<!--=================-->


      </div>
    </div>




	</div>
{{end}}
