{{define "title"}}Trackit{{end}}
{{define "content"}}
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4 well">
				<h1 class="text-center login-title">Trackit</h1>
				<form role="form" action="login" method="post">
	        <div class="form-group">
						<div class="login-help">
							<label for="username">Username</label>
							<a href="/registration" class="pull-right">Create an account </a>
						</div>
	          <input type="text" id="username" name="username" class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
	          <input type="password" id="password" name="password" class="form-control" required>
					</div>
					<div class="checkbox">
	  				<label><input type="checkbox" name="remember">Remember Me</label>
						<a href="/forgot" class="pull-right">Forgot password?</a>
	 				</div>
	        <button class="btn btn-success btn-block" type="submit">Sign in</button>
			{{ .csrfField }}
				</form>
			</div>
	  </div>
	</div>
{{end}}
