{{define "title"}}Trackit{{end}}
{{define "content"}}
	<br>
	<div class="container">

    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Ticket #12345</h3>
      </div>
      <div class="panel-body">
        <form role="form" action="login" method="post">

          <div class="form-group">
						<label for="date">Date</label>


            <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>


            <label for="state">State</label>
            <input type="text" id="state" class="form-control" required>
            <label for="telo">Body</label>
            <textarea class="form-control" required></textarea>
					</div>


        </form>
      </div>
    </div>

	</div>
{{end}}
