{{define "title"}}Trackit{{end}}
{{define "content"}}
	<div class="container">

<div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Issues</h3>
      </div>
      <div class="panel-body">
        

          <!-- Table -->
  <table class="table">
    ...
  </table>



      </div>
    </div>




<!--Paginator-->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

	</div>
{{end}}
