{{define "title"}}Trackit{{end}}
{{define "content"}}
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4 well">
				<h1 class="text-center login-title">Trackit</h1>
				<form role="form" action="registration" method="post">
	        	<div class="form-group">
					<label for="username">Username</label>
	          		<input type="text" id="username" name="username" class="form-control" required autofocus>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
	          		<input type="password" id="password" name="password" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="username">Email</label>
	          		<input type="text" id="email" name="email" class="form-control" required>
				</div>

				<div class="form-group">
					<label for="firstname">FirstName</label>
	          		<input type="text" id="firstname" name="firstname" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="lastname">LastName</label>
	          		<input type="text" id="lastname" name="lastname" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="middlename">MiddleName</label>
	          		<input type="text" id="middlename" name="middlename" class="form-control">
				</div>

	        <button class="btn btn-success btn-block" type="submit">Register</button>
			{{ .csrfField }}
				</form>
			</div>
	  </div>
	</div>
{{end}}